/* 
    Document   : main
    Created on : 13-May-2013, 1:38:22 PM
    Author     : navsha
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: #756e6e;
}

.container{
    background-color: #473d3d;
}



#header{
    padding:40px 20px ;
    font-size:60px;
    font-weight:bold;
    line-height:30px;
    color: white;
    text-align: center;
    font-family: "Comic Sans",sans-serif,serif;
    background: url('../images/bar.jpg') bottom repeat-x;
}

#white_font{
    color: white;
    text-align: justify;
    font-family: "Times New Roman",sans-serif,serif;
    line-height: 28px;
    font-size: 21px;
    margin-bottom: 40px;
}

#blue_font{
    color:#0da6bf;
    text-align: justify;
}

b{
    color:coral;
}

#left_para{
    text-align: right;
    color:#74ae3d;
    font-weight: bold;
    font-family: "Arial",sans-serif,serif;
}

#border_line{
    background: url('../images/bar.jpg') bottom repeat-x;
    height:20px;
    width:100%;

}

.span6{
    background: url('../images/bar.jpg') bottom repeat-x;
    background: url('../images/bar_vertical.jpg') right repeat-y;
    padding: 60px 1px 60px 110px;

}

#info1{
    display:inline;
    float:left;
    font-size: 40px;
    color: white;

}

#info2{
    display: inline;
    float: left;
    font-size: 175px;
    color: #0da6bf;
    margin-left: 10px;
    margin-top: 45px;
}

#info3{
    margin-top: 72px;
    display: inline;
    float: left;
    margin-left: 5px;
    color: #0da6bf;
    font-size: 90px;
}
#info4{
    display: inline;
    width: 200px;
    margin-left: 10px;
    float: left;
    letter-spacing: 3px;
    line-height: 30px;
}
}