/* 
    Document   : main
    Created on : 13-May-2013, 1:38:22 PM
    Author     : navsha
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: #756e6e;

}

.container{
    background-color: #473d3d;
}



#header{
    padding:40px 20px ;
    font-size:60px;
    font-weight:bold;
    line-height:30px;
    color: white;
    text-align: center;
    font-family: "Comic Sans",sans-serif,serif;
    background: url('../images/bar.jpg') bottom repeat-x;
}

#white_font{
    color: white;
    text-align: justify;
    font-family: "Times New Roman",sans-serif,serif;
    line-height: 28px;
    font-size: 21px;
    margin-bottom: 40px;
}

#blue_font{
    color:#0da6bf;
    text-align: justify;
}

b{
    color:coral;
}

#left_para{
    text-align: right;
    color:#74ae3d;
    font-weight: bold;
    font-family: "Arial",sans-serif,serif;
}

#border_line{
    background: url('../images/bar.jpg') bottom repeat-x;
    height:20px;
    width:100%;

}

.span6{
    background: url('../images/bar.jpg') bottom repeat-x;
    padding: 20px 10px 20px 110px;
    height: 233px;
}

.span4{
    margin-left: -20px;
}

.btn{
    border-radius: 39px;
    color:#737a80;
    width: 300px;
    height: 80px;
    font-size: 50px;
}

#info1{
    display:inline;
    float:left;
    font-size: 40px;
    color: white;
    margin-left: 20px;

}

#info2{
    display: inline;
    float: left;
    font-size: 175px;
    color: #0da6bf;
    margin-left: 10px;
    margin-top: 45px;
}

#info3{
    margin-top: 72px;
    display: inline;
    float: left;
    margin-left: 5px;
    color: #0da6bf;
    font-size: 90px;
}
#info4{
    display: inline;
    width: 200px;
    margin-left: 20px;
    float: left;
    letter-spacing: 3px;
    line-height: 30px;
    color:white;
}

#info4 strong{
    color:#0da6bf;
}
#info5{
    padding-top: 23px;
    text-align: center;
    padding-left: 71px;
    color: white;
    background: url('../images/bar_vertical.jpg') left repeat-y;
}

#info5>h2:first-child {
    font-size: 39px;

}

#info5>h1{
    font-size: 69px;
    color: #74ae3d;
    line-height: 31px;
}

#info5>h3{
    font-size: 29px;
}

#info6{
    height: auto;
    line-height: 30px;
    width: 366px;
    text-align: justify;
    margin-left: 162px;
    margin-top: 80px;
    background-color: #74ae3d;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 16px;
    word-spacing: -3px;
}

#info6>h2{
    text-align: center;
}

#info7{
    height: auto;
    line-height: 51px;
    width: 366px;
    text-align: right;
    margin-left: 173px;
    margin-top: 68px;
    padding: 15px;
    font-size: 36px;
    color: white;
    font-style: italic;
}